﻿@model IEnumerable<WarsawEventsMVC.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";

        <div id='okienko' style='position: absolute; z-index: 2; top: 100px; width: 400px; height: 200px;  padding-top: 40px; text-align: center; color: black; box-shadow: 3px 3px 5px; display: none; background-color: white; border: 1px solid black;'>
            <span id='tresc' style="font-size: 18px;"> </span>
            <button id='button_zamknij' style='position: absolute; bottom: 10px; right: 10px;'>zamknij</button>
        </div>

    if (ViewBag.Message != null)
    {
        //Display the error message
        //You can: display it in a div (without popup), you can show a javascript Alert(), or display a modal dialog.
        <script>
            // alert('@ViewBag.Message');

            var szerokosc_okna = parseInt(document.getElementById('okienko').style.width);
            var szerokosc_strony = document.body.clientWidth;
            var left = (szerokosc_strony / 2) - (szerokosc_okna / 2);
            document.getElementById('okienko').style.left = left+'px';

            // document.getElementById('tresc').innerHTML = 'left: ' + left + ' szerokosc_strony ' + szerokosc_strony;
            document.getElementById('tresc').innerHTML = '@ViewBag.Message';
            document.getElementById('okienko').style.display = 'block';
            document.getElementById('button_zamknij').onclick = function () {
                document.getElementById('okienko').style.display = 'none';
            }

        </script>


    }
}

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<div style="z-index: 1">
    @Html.DropDownList("Filter", new List<SelectListItem>()
{
    new SelectListItem {Text="Wszyscy",Selected=ViewBag.TypeOfUsers==null || ViewBag.TypeOfUsers=="Wszyscy" },
    new SelectListItem {Text="Znajomi",Selected=ViewBag.TypeOfUsers=="Znajomi" },
    new SelectListItem {Text="Zaproszeni",Selected=ViewBag.TypeOfUsers=="Zaproszeni" },
    new SelectListItem {Text="Zapraszający",Selected=ViewBag.TypeOfUsers=="Zapraszający" }
}, new { @class = "col-md-2 form-control" })
</div>
<div id="users">
    @Html.Partial("_ApplicationUsers", Model)
</div>
<script type="text/javascript">
    var filter = null;

        $('#Filter').change(function (event) {
            filter = $(this).val();
            Update();
        });

        function Update() {
            $.ajax({
                type: "POST",
                url: "/ApplicationUsers/UpdateUsers",
                data: {filter:filter},
                success: function (data) {
                $("#users").html(data);
            }
            });
        }


</script>
