﻿@model WarsawEventsMVC.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}


<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Zmień ustawienia konta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Hasło:</dt>
        <dd>
            [
            @if (Request.IsAuthenticated)
            {
                @Html.ActionLink("Zmień hasło", "ChangePassword")
            }
            ]
        
        </dd>
    </dl>
</div>
