﻿@model PagedList.IPagedList<WarsawEventsMVC.Models.Entities.EventViewModel>
@using PagedList.Mvc;

<div class="container-fluid row">
    @{ int i = 0;}
    @foreach (var item in Model)
    {
        <div class="col-lg-6 col-md-10 col-sm-10 singleEvent">
            <div class="col-md-12 main">
                    <div class="col-xs-11">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-2 date">
                                @item.DateOfStart.ToString("dd MMM ddd")
                            </div>

                            <div class="col-md-10 col-sm-6 col-xs-6">
                                <h3>@Html.DisplayFor(modelItem => item.EventName)</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-2">
                                <img src="~/Content/Icons/place-icon.png" />
                                <span> @item.Place.PlaceName ul. @item.Place.StreetName @item.Place.Streetnumber</span>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-10 col-md-offset-2">
                                <img src="~/Content/Icons/time-icon.png" />
                                <span> @item.DateOfStart.ToString("HH:mm")</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-2">
                                <img src="~/Content/Icons/price-icon.png" />
                                <span> @item.Price zł</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10 col-md-offset-2">
                                <img src="~/Content/Icons/people-icon.png" />
                                <span> @item.NumberOfParticipants</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p>@item.Description</p>
                            </div>
                        </div>
                        <div class="row vertical-center">
                            <div class="col-md-7">
                                <span>Kategoria: @item.Category.CategoryName</span>
                            </div>
                            <div class="col-md-3">
                                @if (Request.IsAuthenticated)
                                {
                                    if (item.IsParticipant)
                                    {
                                        @Ajax.ActionLink("Zrezygnuj", "Resign", new
                                   {
                                       id = item.Id,
                                       page = Model.PageNumber,
                                       currentFilter = ViewBag.CurrentFilter,
                                       currentSort = ViewBag.CurrentSort,
                                       period = ViewBag.CurrentPeriod,
                                       category = ViewBag.CurrentCategory,
                                       district = ViewBag.CurrentDistrict,
                                       eventsFilter = ViewBag.CurrentEventsFilter
                                   }, new AjaxOptions
                                   {
                                       HttpMethod = "POST",
                                       InsertionMode = InsertionMode.Replace,
                                       UpdateTargetId = "events"
                                   }, new { @class = "btn btn-primary bot5" })
                                    }
                                    else
                                    {
                                        @Ajax.ActionLink("Dołącz", "Enroll", new
                                   {
                                       id = item.Id,
                                       page = Model.PageNumber,
                                       currentFilter = ViewBag.CurrentFilter,
                                       currentSort = ViewBag.CurrentSort,
                                       period = ViewBag.CurrentPeriod,
                                       category = ViewBag.CurrentCategory,
                                       district = ViewBag.CurrentDistrict,
                                       eventsFilter = ViewBag.CurrentEventsFilter
                                   }, new AjaxOptions
                                   {
                                       HttpMethod = "POST",
                                       InsertionMode = InsertionMode.Replace,
                                       UpdateTargetId = "events"
                                   }, new { @class = "btn btn-primary bot5" })
                                    }

                                }
                            </div>
                            <div class="col-md-2">
                                @Html.ActionLink("Dołączyli", "Index", "ApplicationUsersInEvent", new { eventId = item.Id, like = false }, null)
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="comment-container col-md-12">
                                <div class="comment-header">
                                    <span>Pokaż komentarze</span>

                                </div>
                                <div class="comment-content container">
                                    @foreach (var comm in item.Comments)
                                    {
                                        <div class="row top10">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <span>~@comm.ApplicationUser.UserName @comm.Date.ToString("HH:mm dd MMM")</span>
                                                </div>
                                                <div class="row">
                                                    <span>@comm.Text</span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @if (Request.IsAuthenticated)
                                    {
                                        <div class="col-md-12">
                                           @using( Ajax.BeginForm("SendComment",null,new AjaxOptions {
                                           HttpMethod = "POST",
                                           InsertionMode = InsertionMode.Replace,
                                           UpdateTargetId = "events"
                                       },new { @class = "form-group" }))
                                            { 
                                            @Html.Hidden("id", item.Id)
                                            @Html.Hidden("page", Model.PageNumber)
                                            @Html.Hidden("currentFilter",(string)ViewBag.CurrentFilter)
                                            @Html.Hidden("currentSort", (string)ViewBag.CurrentSort)
                                            @Html.Hidden("period", (string)ViewBag.CurrentPeriod)
                                            @Html.Hidden("category", (string)ViewBag.CurrentCategory)
                                            @Html.Hidden("district", (string)ViewBag.CurrentDistrict)
                                            @Html.Hidden("eventsFilter", (string)ViewBag.CurrentEventsFilter)
                                            @Html.TextBox("text")
                                            <input type="submit" class="btn btn-primary" value="Dodaj" />
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                @if (Request.IsAuthenticated)
                {
                    <div class="col-xs-1 img-container">
                        
                        @if (item.IsLike)
                        {
                            <a class="likeRedIcon myIcon">like</a>
                        }
                        else
                        {
                            @Ajax.ActionLink("Like", "Like", new {
                           id = item.Id,
                           page = Model.PageNumber,
                           currentFilter = ViewBag.CurrentFilter,
                           currentSort = ViewBag.CurrentSort,
                           period = ViewBag.CurrentPeriod,
                           category = ViewBag.CurrentCategory,
                           district = ViewBag.CurrentDistrict,
                           eventsFilter = ViewBag.CurrentEventsFilter
                           }, new AjaxOptions
                           {
                               HttpMethod = "POST",
                               InsertionMode = InsertionMode.Replace,
                               UpdateTargetId = "events"
                           }, new { @class = "likeIcon myIcon" })
                        }
                        @Html.ActionLink("Polubili", "Index", "ApplicationUsersInEvent", new { eventId = item.Id, like = true }, null)

                        @if ((string)ViewBag.CurrentEventsFilter == "Utworzyłem" || item.IsOwner)
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "editIcon myIcon" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "deleteIcon myIcon" })
                        }
                
                    </div>
                }
                </div>
        </div>
        if (i++ % 2 == 1)
        {
            <div class="clearfix"></div>
        }
}
</div>
<div class="pageInfo">
    Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount
</div>  
@Html.PagedListPager(Model, page => Url.Action("Index",
new
{
    page,
    currentFilter = ViewBag.CurrentFilter,
    currentSort = ViewBag.CurrentSort,
    period = ViewBag.CurrentPeriod,
    category = ViewBag.CurrentCategory,
    district = ViewBag.CurrentDistrict,
    eventsFilter = ViewBag.CurrentEventsFilter
}))

<script type="text/javascript">
    $(".comment-header").click(function () {

        $header = $(this);
        //getting the next element
        $content = $header.next();
        //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
        $content.slideToggle(500, function () {
            //execute this after slideToggle is done
            //change text of header based on visibility of content div
            $header.text(function () {
                //change text based on condition
                return $content.is(":visible") ? "Ukryj" : "Pokaż komentarze";
            });
        });

    });
</script>