﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    min-width: 600px;
    width: auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container-full {
    margin: 0 auto;
    width: 95%;
}

a.editIcon
    {
     background: url(/Content/Icons/edit-icon.png) no-repeat top left;     
    }
    a.deleteIcon
    {
     background: url(/Content/Icons/delete-icon.png) no-repeat top left;     
    }
    a.dolaczIcon
    {
     background: url(/Content/Icons/dolacz-icon.png) no-repeat top left;     
    }
    a.likeIcon
    {
     background: url(/Content/Icons/like-icon.png) no-repeat top left;     
    }
    a.likeRedIcon
    {
     background: url(/Content/Icons/like-icon-red.png) no-repeat top left;     
    }
    a.myIcon
    {
        display: block;
         width: 40px;
         height: 40px;
         text-indent: -9999px; /* hides the link text */
    }
    .main{
        background-color: bisque;
        overflow: hidden;
    }

    .main div {
        font-size: large;
    }

    .main span{
        
    }

    .date{
        background-color: skyblue;
        text-align: center;
    }

    .singleEvent{
        margin-top: 10px;
    }
    
    .img-container a{
        margin-top: 10px;
        font-size: small;
    }

    .pageInfo{
        margin-top: 20px;
    }

    .bot5{
        margin-bottom: 5px;
    }

    .top10 { margin-top:10px; }

    .vertical-center {

      display: flex;
      align-items: center;
    }
  

    .comment-container .comment-header {
        cursor: pointer;
    }
    .comment-container .comment-content {
        display: none;
    }